body {
  font-family: sans-serif;
  margin: 2em;
  background: #f6f6f6;
}
form {
  margin-top: 2em;
}
input {
  margin: 0.5em 0;
  padding: 0.5em;
}
button {
  margin-top: 1em;
  padding: 0.5em 2em;
}
